<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID"
         version="3.0">
    <display-name>download</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>/index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>multi</servlet-name>
        <servlet-class>br.com.quasar.download.streaming.servlet.MultiPartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>multi</servlet-name>
        <url-pattern>/multi/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>teste</servlet-name>
        <servlet-class>br.com.quasar.download.streaming.servlet.TesteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>teste</servlet-name>
        <url-pattern>/teste/*</url-pattern>
    </servlet-mapping>

</web-app>
